.form {
  display: grid;
  gap: 10px;
  max-width: 80em;
}

.field {
  display: grid;
  gap: 5px;
}

.footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  gap: 10px;
}
